body {
  display: grid;
  justify-content: center;
  background-color: rgb(30, 30, 30);
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 1rem;
  color: white;
}

.grid {
  display: grid;
  grid-template-columns: repeat(12, 50px);
  gap: 5px;
}

.plate {
  background-color: greenyellow;
  height: 50px;
  padding: 0;
  margin: 0;
}

.blue {
  background-color: blue;
}

.gold {
  background-color: gold;
}

.green-one {
  background-color: greenyellow;
}

.grey-one {
  background-color: green;
}

.green-two {
  background-color: tan;
}

.grey-two {
  background-color: rgb(90, 90, 120);
}

.green-three {
  background-color: lightblue;
}

.grey-three {
  background-color: rgb(100, 100, 180);
}

.green-four {
  background-color: rgb(200, 60, 60);
}

.grey-four {
  background-color: rgb(90, 15, 15);
}


.control-panel {
  display: grid;
  grid-template-columns: repeat(5, 100px);
  gap: 40px;
}